@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.badgesSection{

    align-items: stretch;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 30px;
    gap: 20px;
    font-family: 'Inter', sans-serif;

   


 .badgesItem {
    background-color: #13304F;
    border-radius: 20px;
    flex: 1 1 calc(25% - 20px); 
    min-width: 240px;      
    min-height: 260px;    
    height: auto;
    padding: 30px 20px;
    display: flex ;
    flex-direction: column;
    
    gap: 30px;
    .badgesIconWrapper{
        height: fit-content;
        padding: 10px;
        width: fit-content;
        
        background-color: white;
        border-radius: 50%;
        display: flex;

        .badgesIcon{
            height: 30px;
            width: auto;
           
        }


    }

    .badgesText{
        font-size: 18px;
        font-weight: 500;
        font-family: 'Inter', sans-serif;
    }
  }


}