@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.contactSection {

  width: 95%;
  padding: 40px 30px;
  margin: 200px auto;
  display: flex;
  gap: 40px;
  align-items: center;
  background: #13304f;
  border-radius: 20px;
  min-height: 450px;
font-family: "Inter", sans-serif;

  .lottieBox {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;

    .lottieAnim {
  width: 100%;     /* Increase size here */
  height: auto;
}

  
  }

  .formBox {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 18px;

    .title {
      font-size: 35px;
      font-weight: 700;
      color: white;
    }

    .subtitle {
      font-size: 20px;
      opacity: 0.7;
      color: white;
      line-height: 1.5;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input,
      textarea {
        width: 100%;
        padding: 12px 15px;
        border: 1px solid #ddd;
        border-radius: 10px;
        font-size: 15px;
        font-family: "Inter", sans-serif;
        outline: none;
        transition: 0.3s;
        background-color: white;
        color: black;
        
        &:focus {
          border-color: #13304f;
          box-shadow: 0 0 5px rgba(19, 48, 79, 0.3);
        }
      }

      textarea {
        min-height: 120px;
        resize: none;
      }

      button {
        width: max-content;
        padding: 12px 30px;
        background: #fff;
        color: #13304f;
        font-size: 16px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        font-weight: 600;
        transition: 0.3s;

        &:hover {
          transform: scale(1.08);
        }
      }
    }
  }


  @media (max-width: 900px) {
  .lottieAnim {
    width: 300px;
    height: 300px;
  }
}
  /* Mobile */
  @media (max-width: 900px) {
    flex-direction: column;

    .lottieBox,
    .formBox {
      width: 100%;
    }

    .title {
      text-align: center;
    }
  }
}
