@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.featuredSection {
  margin-top: 100px;
  margin-bottom: 10%;
  width: 100%;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
  font-family: "Inter", sans-serif;

  .title {
    font-size: 35px;
    font-weight: 700;
  }

  .subtitle {
    font-size: 20px;
    font-weight: 600;
  }

  .featuredProductSection {
    width: 100%;
    background: #13304f;
    border-radius: 20px;
    padding: 20px 0;

    .featuredProductContainer {
      display: flex;
      gap: 20px;
      width: 100%;
      padding: 20px;
      align-items: stretch;
      min-height: 300px;

      /* IMAGE AREA */
      .imageCatalog {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .mainImageWrapper {
          width: 100%;
          aspect-ratio: 18/9;
          border-radius: 18px;
          overflow: hidden;
          position: relative;

          .bgBlur {
            position: absolute;
            inset: 0;
            background-size: cover;
            background-position: center;
            filter: blur(20px);
            transform: scale(1.2);
            z-index: 1;
          }

          .mainImage {
            position: relative;
            z-index: 2;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .imagesRow {
          width: 100%;
          display: flex;
          gap: 10px;
          justify-content: space-between;

          .otherImage {
            width: 32%;
            aspect-ratio: 1/1;
            border-radius: 12px;
            object-fit: cover;
          }
        }
      }

      /* TEXT AREA */
      .textContent {
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 25px;
        padding: 10px;
        color: white;

        .productTitle {
          font-size: 28px;
          font-weight: 700;
        }

        .productDescription {
          font-size: 18px;
          opacity: 0.9;
          white-space: pre-line !important;
        }

        .contactButton {
          padding: 12px 25px;
          white-space: nowrap;
          background: white;
          color: #13304f;
          font-weight: 700;
          border-radius: 30px;
          font-size: 16px;
          cursor: pointer;
          transition: 0.3s;
          max-width: max-content;

          &:hover {
            transform: scale(1.08);
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .featuredProductContainer {
      flex-direction: column;
      min-height: auto;

      .imageCatalog {
        width: 100% !important;

        .mainImageWrapper {
          aspect-ratio: 16/10;
        }
      }

      .textContent {
        width: 100% !important;
      }
    }
  }

  @media (max-width: 600px) {
    .productTitle {
      font-size: 20px !important;
    }
  }
}
